// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts-container {
  width: 80%;
}

.post > h2 > a {
  color: #000;
}

.post > a {
  color: #fff;
}

.date {
  color: grey;
}
